{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Add a Post!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">Submit</button>
            </div>

            </form>
        </div>
    </div>
    {% for post in post_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <p>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    &nbsp;<strong><a href="#" class="text-decoration-none">{{post.author}}</a></strong>
                    &nbsp;
                    <span class="text-muted">
                        <i class="fa fa-clock" aria-hidden="true">
                        </i>&nbsp;{{post.created_at}}</span></p>
                <p>{{post.body|safe|slice:50}}</p>
                <a href="{% url 'post-detail' post.pk %}"><i class="fa fa-commenting" aria-hidden="true"></i></a>
                {% if request.user == post.author %}
                <a href="{% url 'post-delete' post.pk %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <a href="{% url 'post-edit' post.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
{% endblock content %}