{% extends 'landing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-warning"><i class="fas fa-backward"></i>&nbsp;Back to
                Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="">
                {% if post.author.profile.picture %}
                <img src="{{post.author.profile.picture.url}}" class="rounded-circle" width="50" height="50">
                {% endif %}&nbsp;
                <strong>{{post.author}}</strong>
            </div>
            <br>
            <br>
            <p class="alert alert-info">
                {{post.body}}
            </p>
            <span class="text-muted"><i class="fas fa-clock"></i>&nbsp;{{post.created_at}}</span>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-transparent">
                        <i class="far fa-thumbs-up">&nbsp;<span>{{post.like.all.count}}</span></i>
                    </button>
                </form>
                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-transparent">
                        <i class="far fa-thumbs-down">&nbsp;<span>{{post.dislikes.all.count}}</span></i>
                    </button>
                </form>
                {% if request.user == post.author %}
                <a class="btn btn-transparent" href="{% url 'post-delete' post.pk %}"><i class="fa fa-trash"></i></a>
                <a class="btn btn-transparent" href="{% url 'post-edit' post.pk %}"><i class="fa fa-pencil"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr><br>
    <div class="text-center block-comment"><span class=""><i class="fa fa-comment"
                aria-hidden="true"></i>&nbsp;Comments</span></div><br>
    {% for comm in comments %}

    <div class="row justify-content-center mt-3">
        <span class="text-muted text-center">{{comm.created_at|date:"SHORT_DATE_FORMAT"}}</span>
        <div class="d-flex flex col-md-5 col-sm-12 border-bottom">
            {% if request.user == comm.author%}
            <div class="alert alert-danger my-comment">
                <!-- dropdown menu  -->
                <div class="dropdown d-flex justify-content-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false"></a>
                    {% if request.user == comm.author%}
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'comment-delete' post.pk comm.pk  %}">Delete
                                comment</a></li>
                    </ul>
                    {% endif %}
                </div>
                <!-- END dropdown menu  -->
                {% if request.user.profile.picture %}
                <img src="{{request.user.profile.picture.url}}" class="rounded-circle" width="30" height="30">
                {% endif %}
                &nbsp;<b>You!</b>
                <p>
                    {{comm.comment}}
                </p>
                <div class="text-end">
                    <span class="text-muted">
                        <i class="fas fa-clock"></i>&nbsp;{{comm.created_at|time:"h:i "}}
                    </span>
                </div>
                <!-- like & dislike -->
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'comment-like' post.pk comm.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-transparent">
                            <i class="far fa-thumbs-up">&nbsp;<span>{{comm.like.all.count}}</span></i>
                        </button>
                    </form>
                    <form method="POST" action="{% url 'comment-dislike' post.pk comm.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-transparent">
                            <i class="far fa-thumbs-down">&nbsp;<span>{{comm.dislikes.all.count}}</span></i>
                        </button>
                        <button class="btn btn-transparent"><i class="far fa-comment-dots"
                                onclick="commentReplyToggle('{{ comm.pk }}')"></i></button>
                    </form>
                </div>
                <!-- END like & dislike -->
                {% else %}
                <div class="alert alert-info other-comment">
                    {% if request.user.profile.picture %}
                    <img src="{{request.user.profile.picture.url}}" class="rounded-circle" width="30" height="30">
                    {% endif %}
                    &nbsp;<b>{{comm.author}}</b>
                    <p class="text-end">
                        {{comm.comment}}
                    </p>
                    <div class="text-start">
                        <span class="text-muted">
                            <i class="fas fa-clock"></i>&nbsp;{{comm.created_at|time:"h:i"}}
                        </span>
                    </div>
                    <!-- like & dislike -->
                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'comment-like' post.pk comm.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="btn btn-transparent">
                                <i class="far fa-thumbs-up">&nbsp;<span>{{comm.like.all.count}}</span></i>
                            </button>
                        </form>
                        <form method="POST" action="{% url 'comment-dislike' post.pk comm.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="btn btn-transparent">
                                <i class="far fa-thumbs-down">&nbsp;<span>{{comm.dislikes.all.count}}</span></i>
                            </button>
                            <span class="btn btn-transparent"><i class="far fa-comment-dots"
                                    onclick="commentReplyToggle('{{ comm.pk }}')"></i></span>
                        </form>
                    </div>
                    <!-- END like & dislike -->
                </div>
                {% endif %}
            </div>
        </div>

        <!-- {% for child in comm.children %}
        <div class="row justify-content-center mt-3 mb-5 child-comment">
            <div class="col-md-5 col-sm-12 border-bottom">
                <p>
                    <div>
                        <a href="{% url 'profile' child.author.profile.pk %}">
                            <img src="{{child.author.profile.picture.url}}" class="round-circle post-img" width="30" height="30" alt="">
                        </a>
                        <p class="post-text">
                            <a href="{% url 'profile' child.author.profile.pk %}">
                                @{{child.author.}}
                            </a>{{child.created_at|time:"h:i"}}
                        </p>
                    </div>
                    {% if request.user == child.author %}
                    <a href="{% url 'comment-delete' post.pk child.pk %}" class="edit-color">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </p>
                <p>{{child.comment  }}</p>
            </div>
        </div>
        {% endfor %} -->

        <div class="row justify-content-center mt-3 mb-5 d-none" id="{{comm.pk}}">
            <div class="col-md-5 col-sm-12">
                <form method="POST" action="{% url 'comment-reply' post.pk comm.pk %}">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-info mt-3">Add reply</button>
                    </div>
                </form>
            </div>
        </div>

        {% endfor %}
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-success mt-3">Add comment</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
  
    {% endblock content %}