{% extends 'landing/base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
      {% if profile.picture %}
      <img
        src="{{profile.picture.url }}"
        class="rounded-circle"
        width="100"
        height="100"
        alt="{{profile.name}}"
      />
      {% endif %} {% if profile.name %}
      <span class="text-muted"
        ><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Name:
      </span>
      <h6>{{profile.name}}</h6>
      {% if profile.user == user %}
      <a href="{% url 'profile-edit' profile.pk %}"><i class="fas fa-edit"></i></a>
      {% endif %}
      {% endif %} <hr> {% if profile.location %}
      <span class="text-muted"
        ><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;Location:
      </span>
      <p>{{profile.location}}</p>
      {% endif %}  <hr> {% if profile.birh_date %}
      <span class="text-muted"
        ><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Birthday:
      </span>
      <p>{{profile.birh_date}}</p> <hr>
      {% endif %} {% if profile.bio %}
      <span class="text-muted"
        ><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Biography:
      </span>
      <p class=" ">{{profile.bio}}</p>
      {% endif %}
      <hr>
      <!-- Start Followers  -->
      <div class="row d-flex mb-3">
        <p><span class="text-muted"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Followers: </span>{{number_of_followers}}</p>
        {% if user == request.user %}
        {% else %}
        {% if is_following %}
        <form method="POST" action="{% url 'remove-follower' profile.pk %}">
          {% csrf_token %}
          <div class="d-grid gap-2">
          <input type="submit" class="block btn btn-outline-danger" value="UnFollow" />
          </div>
        </form>
        {% else %}
        <form method="POST" action="{% url 'add-follower' profile.pk %}">
          {% csrf_token %}
          <div class="d-grid gap-2">
          <input type="submit" class="block btn btn-outline-success" value="Follow" />
          </div>
        </form>
        {% endif %}
        {% endif %}
      </div>
      <!-- END Followers  -->
    </div>
  </div>
  {% for post in posts %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 border-bottom">
      <p>
        <i class="fa fa-user" aria-hidden="true"></i>
        &nbsp;<strong
          ><a href="#" class="text-decoration-none">{{post.author}}</a></strong
        >
        &nbsp;
        <span class="text-muted">
          <i class="fa fa-clock" aria-hidden="true"> </i
          >&nbsp;{{post.created_at}}</span
        >
      </p>
      <p>{{post.body|safe|slice:50}}</p>
      <a href="{% url 'post-detail' post.pk %}"
        ><i class="fa fa-commenting" aria-hidden="true"></i
      ></a>
      {% if request.user == post.author %}
      <a href="{% url 'post-delete' post.pk %}"
        ><i class="fa fa-trash" aria-hidden="true"></i
      ></a>
      <a href="{% url 'post-edit' post.pk %}"
        ><i class="fa fa-pencil" aria-hidden="true"></i
      ></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
